@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Lato:wght@100&family=Lora:ital,wght@0,400;1,400;1,500&family=Montserrat:wght@100&family=PT+Sans+Narrow&family=Playfair+Display&display=swap');

body {
    background-image: url(/imgcacapalavras/img/galaxy2.jpg);
    background-size: cover;
    font-family: 'Lora',serif;
}

h2 {
    font-size: 23px;
    font-family: 'Lora',serif;
    color: white;
    text-shadow: #b0a8ce 0.1em 0.1em 0.2em;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -12px;

}

img {
    margin-top: -50px;
    margin-left: 35px;
    width: 23px;
}

h3.regrash3 {
    font-size: 21px;
    font-family: 'Lora',serif;
    color: #b0a8ce;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: 115px;
    margin-top: 15px;
}

h3.palavrastext {
    font-size: 21px;
    font-family: 'Lora',serif;
    color: white;
    margin-left: 195px;
}


a {
    color: white;
    font-family: 'Lora',serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 22px;
    margin-top: 5px;
}

a:hover {
    color:#a296ca;
}

.user {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    margin-top: -60px;
}


#regras {
    display: flex;
    margin-left: 130px;
    margin-bottom: -350px;
    margin-top: 120px;
    height: 300px;
    width: 300px;
    background-color: #2b1d5a93;
    border-radius: 10px;
    color: white;
}

#box-regras {
    display: flex;
    margin-top: 55px;
    margin-left: -135px;
}

.regrastext {
    margin-top: 10px;
    margin-bottom: 30px;
}

.facil {
    width: 200px;
    height: 200px;
    position: absolute;
}

.dificil {
    width: 200px;
    height: 200px;
    position: absolute;

}

.medio {
    width: 200px;
    height: 200px;
    position: absolute;

}

.superdificil {
    width: 200px;
    height: 200px;
    position: absolute;

}

.escondido {
    visibility: hidden;
}


#cacapalavras {
    display: grid;
    margin-left: 600px;
    margin-top: 5px;
    padding: 20px;
    height: 540px;
    width: 500px;
    border-radius:10px;
    background-color: #2b1d5a93;
    color: white;
    grid-template-columns: repeat(10,auto);

}

label {
    color: white;
    text-shadow: #b0a8ce 0.1em 0.1em 0.2em;
    font-family: 'Lora',serif;
    font-size: 16px;
    margin-top: -20px;
    margin-right: -125px;
}

input {
    background-color: #a296cacb;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 60px;
}

div.dificuldade {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

p {
    text-shadow: black 0.1em 0.1em 0.2em;
}


section{
    background-color: #2b1d5a93;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
div{
    border-radius: 15px;
}

