section{
   display: grid;
   grid-template-columns: repeat(10,auto);
   justify-content: center;

}
div{
    background-color: firebrick;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}